<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles.css">
</head>

<body>

<div class="header">
  <a th:href="@{home}" class="logo">PB7D - Home Loan</a>
  <div class="header-right">
    <a th:href="@{home}">Home</a>
    <a class="active" th:href="@{account}">Your Account</a>
  </div>
</div>

<div style="padding-left:20px">

    <h1>Foreclosure:</h1>

    <div class ="errorMessage"><b><p th:text="${errorMessages.errorMessage}" /></b></div>

    <form th:action="@{/foreclosure}" th:object="${foreclosure}" method="post">

        <label><b>Are you sure you want to foreclose your account?</b></label>

        <input type="submit" value="Yes">

    </form>

    <a th:href="@{account}"><button>No</button></a>

    <br><br>

</div>

<footer>
    <p>Footer<br></p>
</footer>

</body>
</html>