<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles.css">
</head>

<body>

<div class="header">
  <a th:href="@{home}" class="logo">CompanyLogo</a>
  <div class="header-right">
    <a class="active" th:href="@{home}">Home</a>
    <a th:if="${!userExists}" th:href="@{register}">Register</a>
    <a th:if="${!userExists}" th:href="@{login}">Login</a>
    <a th:if="${userExists}" th:href="@{account}">Your Account</a>
  </div>
</div>

<div style="padding-left:20px">

    <h1>Hello World!</h1>

    <a th:href="@{register}">Register</a>
    
    <a th:href="@{login}">Login</a>

</div>

<footer>
    <p>Footer<br></p>
</footer>

</body>
</html>