 <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles.css">
</head>

<body>

<div class="header">
    <a th:href="@{home}" class="logo">PB7D - Home Loan</a>
    <div class="header-right">
      <a th:href="@{home}">Home</a>
      <a th:href="@{register}">Register</a>
      <a class="active" th:href="@{login}">Login</a>
    </div>
</div>

<div style="padding-left:20px">

    <h1>Login</h1>

    <div class ="errorMessage"><b><p th:text="${errorMessages.errorMessage}" /></b></div>

    <form th:action="@{/login}" th:object="${login}" method="post">    

        <label><b>Email:</b></label>  
        <input type="text" placeholder="Email" th:field="*{mailID}">    
        <br><br>    
        <label><b>Password:</b></label>    
        <input type="password" placeholder="Password" th:field="*{password}">    
        <br><br>    
        <input type="submit" value="Submit">  
        <br><br>      

    </form>   

    <br>

</div>

<footer>
    <p>Footer<br></p>
</footer>

</body>
</html>
 