<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles.css">
</head>

<body>

<div class="header">
    <a th:href="@{home}" class="logo">CompanyLogo</a>
    <div class="header-right">
      <a th:href="@{home}">Home</a>
      <a class="active" th:href="@{register}">Register</a>
      <a th:href="@{login}">Login</a>
    </div>
</div>

<div style="padding-left:20px">

    <h1>Register</h1>

    <div class ="errorMessage"><b><p th:text="${errorMessages.errorMessage}" /></b></div>

    <form th:action="@{/register}" th:object="${register}" method="post">

        <label><b>Name</b></label> 
        <input type="text" th:field="*{name}" placeholder="Name">
        <br><br>  
        <label><b>Account Number</b></label> 
        <input type="number" th:field="*{accNo}" placeholder="Account Number">
        <br><br>  
        <label><b>Current Balance</b></label> 
        <input type="number" th:field="*{currBal}" placeholder="Current Balance">
        <br><br>  
        <label><b>Email</b></label> 
        <input type="text" th:field="*{mailID}" placeholder="Email">
        <br><br>    
        <label><b>Password</b></label> 
        <input type="password" th:field="*{password}" placeholder="Password">
        <br><br>  
        <input type="submit" value="Submit">
        <br><br>  

    </form>

</div>

<footer>
    <p>Footer<br></p>
</footer>

</body>
</html>